/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*Acá empieza el reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Acá empieza mi código*/


body{
	font-family: 'Roboto', sans-serif;
	background-color: white; 
}


.wrapper {
    background-color: #ebebeb;
    width: 1000px;
    margin: 0 auto;	
}

.menu{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	background: #faf5eb;
	width: 100%;
	max-width: 1000px;
	height: 60px;
	margin: auto;
	text-align: center;
}

.menu > div{
	flex: 1 1 0;
	text-align: center;
}

/*.portada{
	width:100%;
	height:100px;
	text-align:center;
}*/

.imagen_portada{
	width: 300px;
	height: 300px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.boton{
	text-decoration: none;
	border-radius: 3px;
	background-color: #f7a8a6;
	margin: 15px 5px;
    color: white;
    padding: 5px 15px;
    display: block;
}

.boton:hover{
	background: #f48b94;
}

.simple-grid{
	display: flex;
	padding: 30px 20px;
}

.simple-grid .left, .simple-grid .right{
	flex: 1;
}

.font-portada{
	font-size: 60px;
	text-align: center;
	color: brown;
	padding-top: 20px;
}

.title-section1, .title-section2{
	text-align: center;
	font-size: 50px;
	color: #f48b94;
}

.text-section1, .text-section2{
	text-align: center;
	font-size: 30px;
	color: white;
}

.contenedor{
	height: 70px;
	display: flex;
    justify-content: center;
    align-items: center;
}

.container{
	padding: 30px;
}

ul.slider{
	position: relative;
	width: 100%;
	height: 450px;
}

ul.slider li{
	position: absolute;
	opacity: 0;
	width: inherit;
	height: inherit;
	transition: opacity .5s;
}

ul.slider li:first-child{
	opacity: 1;
}

ul.slider li:target{
	opacity: 1;
}

.galeria{
	text-align:center;
}

.galeria li{
	display: inline-block;
}

.galeria li a{
	display: inline-block;
	text-decoration: none;
	color: white;
	background-color: #f48b94;
	padding: 10px;
	width: 20px;
	height: 20px;
	font-size: 20px;
	border-radius: 100%;
}

.galeria li a:hover{
	background-color:#addcc9;
}